.Content {
  /* border: 2px solid red; */
  border-right: 1px solid lightblue;

  /* position: relative; */
  width: 80%;
}

@media screen and (max-width: 700px) {
  .Content {
    width: 100%;
  }
}
