.SideMenuDesktop {
  display: none;
  width: 25%;
  background-color: white;
  padding: 20px 30px;
  border: 1px solid lightblue;
}

.fixed_menu {
  display: flex;
  flex-direction: column;
  line-height: 0.7;
  position: fixed;
  top: 20px;
  left: 25px;
  /* border: 2px solid red; */
}

.twitter_logo {
  height: 60px;
  width: 60px;
  cursor: pointer;
  margin-bottom: 20px;
}

.all_menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 5px;
  margin-bottom: 10px;
}

.menu_option {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu_option img {
  /* border: 2px solid red; */
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.menu_option .profile_picture {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

button {
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  width: 80%;
  background-color: #70bfff;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin-top: 20px;
}

@media screen and (min-width: 1120px) {
  .SideMenuDesktop {
    display: block;
  }
}
